<!DOCTYPE html>
<html>
<head>
    <title>Suchen</title>
</head>
<body>
    <h1>Suche Begriffe innerhalb einer Domain</h1>

    <form action="" method="GET">
        <label for="q">Bitte Suchbegriff eingeben: </label>
        <input name="q" id="q">
    </form>
	
	<p>{msg}</p>

</body>
</html>